<div class="container article">

    <div class="title">
        <h1>{{title}}</h1>
    </div>
    <div class="d-flex justify-content-center">
        <img src="/images/articles/1/article-img1.png" alt="">
    </div>
    <div class="creation-info">
        <img src="/images/icons/outline-create-24px.svg" alt="Date Created">
        <div class="author-date">
            <em>Author: {{{writer}}}</em> <br>
            <em>Date: {{datetime}}</em>
        </div>

    </div>
    <div class="abstract">
        <p>{{abstract}}</p>
    </div>
    <div class="content">
        <p>{{{content}}}</p>
    </div>
</div>