<a href="/article/article-{{sc-id}}">
    <div class="card index-card sm">
        {{#if sc-image}}
        <img src="{{sc-image}}" alt="" class="card-img-top">
        {{else}}
        <img src="/images/articles/1/article-img1.png" alt="" class="card-img-top">
        {{/if}}
        {{#if sc-title}}
        <h4 class="card-title">{{sc-title}}</h4>
        {{else}}
        <h4>Lorem ipsum, dolor sit amet.</h4>
        {{/if}}
        <div class="card-info">
            <div class="sc-info">
                <img src="/images/icons/outline-create-24px.svg" alt="Date Created">
                {{#if sc-author}}
                <em>Tác giả: {{sc-author}}</em>
                {{else}}
                <em>Tác giả: Không tên</em>
                {{/if}}
                <span>&nbsp;||&nbsp;</span>
                {{#if sc-date}}
                <em>Ngày xuất bản: {{sc-date}}</em>
                {{else}}
                <em>Ngày xuất bản: Không rõ</em>
                {{/if}}

            </div>
            <div class="badge badge-primary">{{sc-category}}</div>
        </div>
    </div>
</a>