<a href="/article/article-{{data.Id}}">
    <div class="card index-card sm">
        {{#if data.Cover}}
        <img src="{{data.Cover}}" alt="" class="card-img-top">
        {{else}}
        <img src="/images/articles/1/article-img1.png" alt="" class="card-img-top">
        {{/if}}
        {{#if data.Title}}
        <h4 class="card-title">{{data.Title}}</h4>
        {{else}}
        <h4>Lorem ipsum, dolor sit amet.</h4>
        {{/if}}
        <div class="card-info">
            <div class="sc-info">
                {{#if data.Author}}
                <em><i class="fa fa-user" aria-hidden="true"></i> Tác giả: {{data.Author}}</em>
                {{else}}
                <em><i class="fa fa-user" aria-hidden="true"></i> Tác giả: Không tên</em>
                {{/if}}
                <span>&nbsp;||&nbsp;</span>
                {{#if data.Date}}
                <em><i class="fa fa-calendar" aria-hidden="true"></i>Ngày xuất bản: {{data.Date}}</em>
                {{else}}
                <em><i class="fa fa-calendar" aria-hidden="true"></i> Ngày xuất bản: Không rõ</em>
                {{/if}}

            </div>
            <div class="badge badge-primary">{{data.Category}}</div>
        </div>
    </div>
</a>