<div class="single-blog-post d-flex" >
    <div class="post-thumbnail">
        <img src="{{src-img}}" alt="">
    </div>
    <div class="post-content">
        <a href="/article/article-{{sc-id}}" class="post-title">{{sr-title}}</a>
            <a href="#" class="sign-post"><i class="icon-sign-post fa fa-eye" aria-hidden="true"></i> {{src-views}}</a>
            <a href="#" class="sign-post"><i class="icon-sign-post fa fa-comments" aria-hidden="true"></i> {{src-cmt}}</a>
        </div>
    </div>
</div>