<div class="single-post-area mb-30" >
    <!-- Post Thumbnail -->
    <div class="post-thumbnail" >
        <img src="{{src-img}}" alt="" style="width: 248px;height: 147px;object-fit:  fill !important;">
    </div>

    <!-- Post Content -->
    <div class="post-content">
        <a href="/article/article-{{sc-id}}" class="post-title">{{src-title}}</a>
        <div class="post-meta d-flex">
            <a href="#" class="sign-post"><i class="fa fa-eye" aria-hidden="true"></i> {{src-views}}</a>
            <a href="#" class="sign-post"><i class="fa fa-comments" aria-hidden="true"></i> {{src-cmt}}</a>
        </div>
    </div>
</div>