<nav class="navbar navbar-expand-sm navbar-dark bg-primary d-flex shadow-sm sticky-top">
    <a class="navbar-brand" href="/">
        <img src="/images/logo.png" alt="logo" class="logo-img">
    </a>
    <ul class="navbar-nav">
        <li class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" id="phone-dropdown">ĐIỆN THOẠI</a>
            <div class="dropdown-menu">
                {{#each PhoneCat}}
                <a href="/search?category={{this.Id}}" class="dropdown-item">{{this.Name}}</a>
                {{/each}}
            </div>
        </li>
        <li class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" id="laptop-dropdown">LAPTOP</a>
            <div class="dropdown-menu">
                {{#each LaptopCat}}
                <a href="/search?category={{this.Id}}" class="dropdown-item">{{this.Name}}</a>
                {{/each}}
            </div>
        </li>
        <li class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">CÔNG NGHỆ</a>
            <div class="dropdown-menu">
                {{#each TechCat}}
                <a href="/search?category={{this.Id}}" class="dropdown-item">{{this.Name}}</a>
                {{/each}}
            </div>
        </li>
        {{#if isAuthenticated}}
        <li class="nav-item dropdown">
            <form id="frmSignout" action="/subscriber/logout" method="POST"></form>
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Hi, <b>{{authUser.Fullname}}</b>

            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                {{#if isWriter}}
                <a class="dropdown-item" href="/writer/editor">
                    <i class="fa fa-pencil" aria-hidden="true"></i>
                    Trang viết bài
                </a>
                {{/if}}
                {{#if isEditor}}
                <a class="dropdown-item" href="/editor/drafts/unreleased">
                    <i class="fa fa-sticky-note" aria-hidden="true"></i> Trang biên tập
                </a>
                {{/if}}
                <a class="dropdown-item" href="/subscriber/profile">
                    <i class="fa fa-user" aria-hidden="true"></i>
                    Thông tin cá nhân
                </a>
                <a class="dropdown-item" href="javascript: $('#frmSignout').submit();">
                    <i class="fa fa-power-off" aria-hidden="true"></i> Đăng xuất
                </a>
            </div>
        </li>
        {{else}}
        <li class="nav-item active">
            <a href="/subscriber/login" class="nav-link">ĐĂNG NHẬP</a>
        </li>
        {{/if}}
        {{#if role}}
        <li class="nav-item active">
            <span class="badge badge-success">{{role}}</span>
        </li>

        {{/if}}
    </ul>
    <form method="GET" action="/search" class="form-inline ml-auto">
        <input type="text" name="search" class="form-control mr-sm-2" placeholder="Thang máy, công tố viên, ...">
        <button class="btn btn-warning my-2 my-sm-0">Tìm kiếm</button>
    </form>
</nav>