<div class="card my-1" id="card-detail-{{data.Id}}">
    <div class="card-body">
        <div class="card-detail">
            <small class="card-writer">{{data.Alias}}</small>
            <h5 class="card-title"><a href="/draft/draft-{{data.Id}}" id="card-title-{{data.Id}}"><b>{{Title}}</b></a>
            </h5>
            <small class="card-datetime">{{data.Date}}</small>
        </div>
        <ul class="nav navbar-nav">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle action" data-toggle="dropdown"><b class="caret"></b></a>
                <ul class="dropdown-menu dropdown-menu-right shadow-none dropdown-action" id="action-{{data.Id}}">
                    <li><button type="button" class="btn btn-outline-primary" data-toggle="modal"
                            data-target="#view_modal-{{data.Id}}"><i class="fa fa-eye"
                                aria-hidden="true"></i></i><small>
                                Xem</small></button></li>
                    <li><button type="button" class="btn btn-outline-primary" data-toggle="modal"
                            data-target="#publish_modal-{{data.Id}}"><i class="fa fa-newspaper-o"
                                aria-hidden="true"></i><small>Xuất bản</small> </button> </li>
                    <li><button type="button" class="btn btn-outline-primary" data-toggle="modal"
                            data-target="#deny_modal-{{data.Id}}"><i class="fa fa-eraser"></i><small>
                                Từ chối</small></button>
                </ul>
            </li>
        </ul>
    </div>
</div>
<div class="modal fade view-modal" id="view_modal-{{data.Id}}" role="dialog">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn btn-primary"><small>
                        Xuất bản ngay</small></button>
                <button type="button" class="btn btn-primary"><small>
                        Xóa</small></button>
            </div>
            <div class="modal-body" id="data-{{data.Id}}">
                <b>Category: </b><span class="badge badge-pill badge-success">{{Category}}</span>
                {{> article}}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="publish_modal-{{data.Id}}" role="dialog">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4>Xuất bản</h4>
            </div>
            <div class="modal-body" id="data-{{data.Id}}">
                <form>
                    <div class="form-group">
                        <label for="categories"><b>Chuyên mục:</b></label>
                        <select class="form-control" id="categories-{{data.Id}}">
                            {{#each AllCats}}
                            <option value="{{this.Id}}">{{this.Name}}</option>
                            {{/each}}
                            <option value="1">this.Name</option>

                        </select>
                    </div>
                    <div class="form-group">
                        <label for="tags"><b>Tags:</b></label>
                        <input class="form-control" type="text" name="tags" id="tags-{{data.Id}}">
                    </div>
                    <div class="form-group">
                        <label for="date"><b>Ngày xuất bản:</b></label>
                        <input class="form-control" type="date" name="date" id="date-{{data.Id}}">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                <button type="button" class="btn btn-primary">Lưu</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="deny_modal-{{data.Id}}" role="dialog">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4>Lý do từ chối</h4>
            </div>
            <div class="modal-body" id="data-{{data.Id}}">
                <form>
                    <div class="form-group">
                        <label for="message-text" class="control-label"><b>Yêu câu hiệu chỉnh:</b></label>
                        <textarea class="form-control" id="message-text-{{data.Id}}" rows="5"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                <button type="button" class="btn btn-primary">Lưu</button>
            </div>
        </div>
    </div>
</div>