{{!-- <div id="card-body">
    <div id="post-item-detail">
        <div>{{writer}}</div>
        <div><a href="http://">{{title}}</a></div>
        <div>{{daytime}}</div>
    </div>
</div> --}}
<div class="card">
    <div class="card-body">
        <div class="card-detail">
            <p class="card-writer">{{writer}}</p>
            <h5 class="card-title"><a href="{{link}}"><b>{{title}}</b></a></h5>
            <p class="card-datetime">{{datetime}}</p>
        </div>
        <div class="card-action">
        </div>
        <ul class="nav navbar-nav">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle action" data-toggle="dropdown"><b class="caret"></b></a>
                <ul class="dropdown-menu dropdown-menu-right shadow-lg" id="action">
                    <li><a href="#"><i class="fas fa-pencil-alt"></i><small>Edit</small></a></li>
                    <li><a href="#"><i class="far fa-eye"></i><small>Preview</small></a></li>
                    <li><a href="#"><i class="far fa-newspaper"></i><small>Publish</small></a></li>
                    <li><a href="#"><i class="fas fa-trash"></i><small>Trash</small></a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>