{{!-- <div id="card-body">
    <div id="post-item-detail">
        <div>{{writer}}</div>
        <div><a href="http://">{{title}}</a></div>
        <div>{{daytime}}</div>
    </div>
</div> --}}

<div class="card-body">
    <div class="card-detail">
        <p class="card-writer">{{writer}}</p>
        <h5 class="card-title">{{title}}</h5>
        <p class="card-datetime">{{datetime}}</p>
    </div>
    <div class="card-action">
        <div class="dropdown open">
            <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                Dropdown
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
            </div>
        </div>
    </div>
</div>
</div>