<div class="card my-1" id="card-detail-{{article.Id}}">
    <div class="card-body">
        <div class="card-detail">
            <small class="card-writer">{{article.Alias}}</small>
            <h5 class="card-title"><a href="/draft/draft-{{article.Id}}"
                    id="card-title-{{article.Id}}"><b>{{article.Title}}</b></a>
            </h5>
            <small class="card-datetime">{{article.Date}}</small>

        </div>
        <ul class="nav navbar-nav">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle action" data-toggle="dropdown"><b class="caret"></b></a>
                <ul class="dropdown-menu dropdown-menu-right shadow-none dropdown-action" id="action-{{article.Id}}">
                    <li><button type="button" class="btn btn-outline-primary" data-toggle="modal"
                            data-target="#view_modal-{{article.Id}}"><i class="fa fa-eye"
                                aria-hidden="true"></i></i><small>
                                Xem</small></button></li>
                    <li>
                        <button name="btn-publish" type="button" class="btn btn-outline-primary" data-toggle="modal"
                            data-target="#publish_modal-{{article.Id}}">
                            <i class="fa fa-newspaper-o" aria-hidden="true"></i>
                            <small>Xuất bản</small>
                        </button>
                    </li>
                    <li><button type="button" class="btn btn-outline-primary" data-toggle="modal"
                            data-target="#deny_modal-{{article.Id}}"><i class="fa fa-eraser"></i><small>
                                Từ chối</small></button>
                </ul>
            </li>
        </ul>
    </div>
</div>

{{!-- View modal --}}
<div class="modal fade view-modal" id="view_modal-{{article.Id}}" role="dialog">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn btn-primary"><small>
                        Xuất bản ngay</small></button>
                <button type="button" class="btn btn-primary"><small>
                        Xóa</small></button>
            </div>
            <div class="modal-body" id="data-{{article.Id}}">
                <b>Category: </b><span class="badge badge-pill badge-success">{{article.Category}}</span>
                {{> article article}}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>

{{!-- Publish modal --}}
<div class="modal fade" id="publish_modal-{{article.Id}}" role="dialog">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4>Xuất bản</h4>
            </div>
            <div class="modal-body" id="data-{{article.Id}}">
                <form id="publish-form-{{article.Id}}" method="POST" action="/draft/publish/{{article.Id}}">
                    <div class="form-group">
                        <label for="categories"><b>Chuyên mục:</b></label>
                        <select name="category" class="form-control" id="categories-{{article.Id}}">
                            {{#each cats}}
                            <option value="{{this.Id}}">{{this.Name}}</option>
                            {{/each}}
                        </select>
                    </div>
                    <div class="form-group">
                        <div class="form-group">
                            <label for="tag"><b>Tag: </b></label>
                            <select class="form-control" name="tag" id="tag">
                                {{#each tags}}
                                <option value="{{this.Id}}">{{this.Name}}</option>
                                {{/each}}
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="date"><b>Ngày xuất bản:</b></label>
                        <input name="pdate" class="form-control" type="date" name="date" id="date-{{article.Id}}"
                            required>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label">
                            <input type="checkbox" class="form-check-input" name="premium" id="premium" value="1"
                                checked>
                            Premium
                        </label>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                <button id="btn-publish-{{article.Id}}" type="button" class="btn btn-primary">Lưu</button>
            </div>
        </div>
    </div>
</div>

{{!-- Deny modal --}}
<div class="modal fade" id="deny_modal-{{article.Id}}" role="dialog">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4>Lý do từ chối</h4>
            </div>
            <div class="modal-body" id="data-{{article.Id}}">
                <form>
                    <div class="form-group">
                        <label for="message-text" class="control-label"><b>Yêu câu hiệu chỉnh:</b></label>
                        <textarea class="form-control" id="message-text-{{article.Id}}" rows="5"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                <button type="button" class="btn btn-primary">Lưu</button>
            </div>
        </div>
    </div>
</div>
<script>
    $("#btn-publish-{{article.Id}}").click(function () {
        console.log("OK")
        $("#publish-form-{{article.Id}}").submit();
    })
</script>