<a href="/article/article-{{Id}}">
    <div class="card card-short-content {{cs}}">
        <div class="card-img">
            {{#if Cover}}
            <img src="{{Cover}}" alt="" class="card-img-top">
            {{!-- {{else}}
            <img src="/images/articles/1/article-img1.png" alt="" class="card-img-top"> --}}
            {{/if}}
        </div>
        <div class="card-body">
            {{#if Title}}
            <h4>{{Title}}</h4>
            {{!-- {{else}}
            <h4>This title is a bug.</h4> --}}
            {{/if}}
            <div class="sc-info">
                <img src="/images/icons/outline-create-24px.svg" alt="Date Created">
                <div>
                    <div>
                        {{#if Author}}
                        <em>Tác giả: {{Author}}</em>
                        {{!-- {{else}}
                        <em>Tác giả: Không tên</em> --}}
                        {{/if}}
                    </div>
                    <div>
                        {{#if Date}}
                        <em>Ngày xuất bản: {{Date}}</em>
                        {{!-- {{else}}
                        <em>Ngày xuất bản: Không rõ</em> --}}
                        {{/if}}
                    </div>
                    {{#if Category}}
                    <div class="badge badge-primary">{{Category}}</div>
                    {{/if}}
                </div>
            </div>
            <p class="card-text">
                {{#if Abstract}}
                {{Abstract}}
                {{!-- {{else}}
                <p>
                    <strong>Đọc tiếp ...</strong>
                </p> --}}
                {{/if}}
            </p>
            {{#if isWriter}}
            <button class="btn btn-primary">Xem</button>
            <button class="btn btn-info">Chỉnh sửa</button>
            {{/if}}
        </div>
    </div>
</a>