<div class="post_item post_h_large">
    <div class="row">
        <div class="col-lg-5 ">
            {{#if src-img}}
                <div class="post_image d-flex justify-content-end" ><img src="/images/cat.jpg"></div>
            {{/if}}
        </div>
        <div class="col-lg-7">
            <div class="post_content">
                {{#if src-title}}
                    <div class="post_title"><a href="/article/article-{{src-id}}">{{src-title}}</a></div>
                {{else}}
                    <div class="post_title"><a href="#">The Tittle</a></div>
                {{/if}}
                <div class="post_info d-flex flex-row align-items-center justify-content-start">
                    <div
                        class="post_author d-flex flex-row align-items-center justify-content-start">
                        <div>
                            <div class="post_author_image"><img src="/images/post_h_1.jpg"
                                    alt=""></div>
                        </div>
                        {{#if src-author}}
                            <div class="post_author_name"><a href="#">{{src-author}}</a></div>
                        {{else}}
                            <div class="post_author_name"><a href="#">The Wall</a></div>
                        {{/if}}
                    </div>
                    {{#if src-date}}   
                        <div class="post_date"><a ><i class="fa fa-calendar" aria-hidden="true" style="margin-right:5px;" ></i> {{src-date}}</a></div>
                    {{else}}   
                        <div class="post_date"><a href="#">30 April 2018</a></div>
                    {{/if}}

                </div>
                <div class="post_text">
                    {{#if src-content}}
                        <p>{{src-content}}</p>
                    {{else}}
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Blanditiis
                        rerum perferendis, quis quidem quisquam corporis praesentium
                        reprehenderit aliquam, dignissimos perspiciatis ullam magnam repudiandae
                        consectetur. A alias quisquam ut illum culpa?</p>
                    {{/if}}
                </div>
            </div>
        </div>
    </div>
    <!--do-->
    <div class="row">
        <div class="col-lg-5">
            <div class="dropdown mr-1">
                <button type="button" class="btn btn-secondary dropdown-toggle addcatebtn"
                    id="dropdownMenuOffset" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false" data-offset="10,20">
                    <strong>Thêm Tag</strong>
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuOffset">
                    {{#each src-cate}}
                        <a class="dropdown-item" href="/admin/categories?var={{this.id}}">{{this.name}}</a>
                    {{/each}}
                </div>
            </div>
        </div>
        <div class="col-lg-7" style="margin-top:16px;">
            <div class="flex-tag d-flex flex-wrap">
                {{#each src-cateAttr}}
                <div class="alert alert-warning fade show _tag">
                    <strong>{{this.name}}</strong>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"
                        style="margin-left:7px;">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {{/each}}
            </div>
        </div>
    </div>
</div>