<div class="container article">
    <div class="title">
        <h1>{{data.Title}}</h1>
    </div>
    <div class="d-flex justify-content-center">
        <img src="{{data.Cover}}" alt="">
    </div>
    <div class="creation-info">
        <div class="author-date">
            <i class="fa fa-pencil" aria-hidden="true"></i>
            <em>Author: {{data.Alias}}</em> <br>
            <i class="fa fa-clock-o" aria-hidden="true"></i>
            {{#if data.PublishTime}}
            <em>Date: {{data.PublishTime}}</em> <br>
            {{else}}
            <em>Date: {{data.Date}}</em> <br>
            {{/if}}
            {{#if data.Premium}}
            <span class="badge badge-pill badge-success">Premium</span>
            {{/if}}
        </div>

    </div>
    <div class="abstract">
        <p>{{data.Abstract}}</p>
    </div>
    <div class="content">
        <p>{{{data.Content}}}</p>
    </div>
    <div class="relative-articles">
        <h3>Các bài viết liên quan</h3>
        <ul>
            {{#each related}}
            <li>
                <a href="/article/article-{{this.Id}}">{{this.Title}}</a>
            </li>
            {{/each}}
        </ul>
    </div>
    <h3>Bình luận</h3>
    {{#each comments}}
    {{> comment this}}
    {{/each}}
    {{#if authUser}}
    <div class="comments">
        <div>
            <textarea name="txtComment" class="txtComment" id="txtComment" rows="5"></textarea>
            <button class="btn btn-primary m-1" onclick="submitComment({{data.Id}}, {{authUser.Id}})">Gửi</button>
        </div>
    </div>
    {{else}}
    <a type="button" id="login-btn" href="/subscriber/login?return=" class="btn btn-primary btn-sm btn-block">Bạn phải
        đăng nhập để bình
        luận</a>
    {{/if}}
</div>

{{#section 'js'}}
<script src="/javascripts/article.script.js"></script>
<script>
    $(document).ready(function () {
        $.get("/article/new/1").done(data => {
            console.log(data);
        })
    })
</script>
{{/section}}