<div class="container article">
    <div class="title">
        <h1>{{data.Title}}</h1>
    </div>
    <div class="d-flex justify-content-center">
        <img src="{{data.Cover}}" alt="">
    </div>
    <div class="creation-info">
        <div class="author-date">
            <i class="fa fa-pencil" aria-hidden="true"></i>
            <em>Author: {{data.Alias}}</em> <br>
            <i class="fa fa-clock-o" aria-hidden="true"></i>
            <em>Date: {{data.PublishTime}}</em>
        </div>

    </div>
    <div class="abstract">
        <p>{{data.Abstract}}</p>
    </div>
    <div class="content">
        <p>{{{data.Content}}}</p>
    </div>
    <div class="relative-articles">
        <h3>Các bài viết liên quan</h3>
        <ul>
            <li>
                <a href="/article/article-01">5 tính năng hay nhất của MIUI 10 trên máy Xiaomi</a>
            </li>
            <li>
                <a href="/article/article-01">5 tính năng hay nhất của MIUI 10 trên máy Xiaomi</a>
            </li>
            <li>
                <a href="/article/article-03">YouTube đã "sát hại" Internet Explorer 6 như thế nào?</a>
            </li>
            <li>
                <a href="/article/article-04">Trải nghiệm Google Assistant tiếng Việt: Thông minh, được việc, giọng êm
                    nhưng đôi lúc đùa hơi nhạt</a>
            </li>
        </ul>
    </div>
    <div class="comments">
        <h3>Bình luận</h3>
        <form action="post" class="">
            <textarea name="txtComment" class="txtComment" id="" rows="5"></textarea>
            <button class="btn btn-primary m-1">Gửi</button>
        </form>


    </div>
</div>