<div class="container article">

    <div class="title">
        <h1>{{data.a_title}}</h1>
    </div>
    <div class="d-flex justify-content-center">
        <img src="/images/articles/1/article-img1.png" alt="">
    </div>
    <div class="creation-info">
        <img src="/images/icons/outline-create-24px.svg" alt="Date Created">
        <div class="author-date">
            <em>Author: {{data.a_author}}</em> <br>
            <em>Date: {{data.a_date}}</em>
        </div>

    </div>
    <div class="abstract">
        <p>{{data.a_abstract}}</p>
    </div>
    <div class="content">
        <p>{{{data.a_content}}}</p>
    </div>
    <div class="relative-articles">
        <h3>Các bài viết liên quan</h3>
        <ul>
            <li>
                <a href="/article/article-01">5 tính năng hay nhất của MIUI 10 trên máy Xiaomi</a>
            </li>
            <li>
                <a href="/article/article-01">5 tính năng hay nhất của MIUI 10 trên máy Xiaomi</a>
            </li>
            <li>
                <a href="/article/article-03">YouTube đã "sát hại" Internet Explorer 6 như thế nào?</a>
            </li>
            <li>
                <a href="/article/article-04">Trải nghiệm Google Assistant tiếng Việt: Thông minh, được việc, giọng êm
                    nhưng đôi lúc đùa hơi nhạt</a>
            </li>
        </ul>
    </div>
    <div class="comments">
        <h3>Bình luận</h3>
        <form action="post" class="">
            <textarea name="txtComment" class="txtComment" id="" rows="5"></textarea>
            <button class="btn btn-primary">Gửi</button>
        </form>


    </div>
</div>