<div class="container article">
    <div class="title">
        <h1>{{a_title}}</h1>
    </div>
    <div class="creation-info">
        <img src="/images/icons/outline-create-24px.svg" alt="Date Created">
        <div class="author-date">
            <em>Author: {{a_author}}</em> <br>
            <em>Date: {{a_date}}</em>
        </div>

    </div>
    <div class="subtitle">
        <p><strong>{{a_abstract}}</strong></p>
    </div>
    <div class="content">
        <p>{{{a_content}}}</p>
    </div>
</div>