<div class="row">
    <nav class="col-md-2 d-none d-md-block bg-light">
        {{>admin-sidebar}}
    </nav>
    <nav class="col-md-10 d-none d-md-block ">
        <nav class="mt-3">
            <button type="button" class="btn">
                <a href="../../users"><i class="fas fa-chevron-left"></i> Back</a></a>
            </button>

        </nav>
        <div class="card-infor">
            <div class="avatar col-md-2">
                <img src="https://vignette.wikia.nocookie.net/disney/images/b/ba/Profile_-_Pascal.png" alt="avatar"
                    width="100" height="100">
            </div>
            <div class="col-md-10 user-detail d-flex align-items-center">
                <div>
                    <h5 class="user-fullname"><b>{{fullname}}</b></h5>
                    <p class="user-username rb-0">@{{username}}</p>
                    <p class="user-type"><span class="badge badge-primary">{{{type}}}</span></p>
                </div>
            </div>

        </div>
        <hr>
        <div class="form-group categories" id="{{type}}">
            <label for="categories"><b>Chuyên mục:</b></label>
            <select class="form-control" id="categories">
                <option value="volvo">Category 1</option>
                <option value="saab">Category 1</option>
                <option value="mercedes">Category 1</option>
                <option value="audi">Category 1</option>
            </select>
            <button type="button" class="btn btn-primary float-right mt-2">Lưu thay đổi</button>
        </div>

        <div class="form-group premium" id="{{type}}">
            <label for="premium"><b>Loại độc giả: </b></label>
            <form>
                <div class="radio">
                    <label><input type="radio" name="optradio" checked><span class="badge badge-second">Free
                            <body</label> </div> <div class="radio">
                                <label><input type="radio" name="optradio"><span
                                        class="badge badge-primary">Premium</span></label>
                </div>
            </form>
            <button type="button" class="btn btn-primary float-right mt-2">Lưu thay đổi</button>
        </div>
    </nav>
</div>

<script>
    $(document).ready(function () {
        if ($(".form-group").attr("id") == "Editor")
            $(".premium").remove();
        if ($(".form-group").attr("id") == "Subscriber")
            $(".categories").remove();

    })
</script>